services:
  checkmk:
    image: checkmk/check-mk-raw:2.3.0-latest
    container_name: checkmk
    ports:
      # - "5000:5000"   # Checkmk Web-UI
      - "6556:6556"   # Checkmk Agent
      - "8000:8000"   # Agent Receiver
    volumes:
      - ${CMK_PATH}:/omd/sites
      - /etc/localtime:/etc/localtime:ro
    tmpfs:
      - /opt/omd/sites/cmk/tmp:uid=1000,gid=1000
    environment:
      - CMK_SITE_ID=${CMK_SITE_ID}
      - CMK_PASSWORD=${CMK_PASSWORD}
    restart: always
    labels:
      traefik.enable: 'true'
      traefik.http.routers.cmk.entrypoints: https
      traefik.http.routers.cmk.tls: 'true'
      traefik.http.routers.cmk.tls.certResolver: http_resolver
      traefik.http.routers.cmk.rule: Host(`${CMK_URL}`)
      traefik.http.routers.cmk.service: cmk
      traefik.http.services.cmk.loadbalancer.server.port: '5000'
    networks:
      - traefik
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  traefik:
    external: true # Use network from the other stack
