# https://github.com/tlex/traefik-oauth2-proxy/blob/master/docker-compose.yml
# https://medium.com/@justinking_2311/securing-your-services-with-oauth2-proxy-and-traefik-a-docker-compose-guide-8a4c3ad57cb2
# https://joeeey.com/blog/selfhosting-sso-with-traefik-oauth2-proxy-part-2/
# https://oauth2-proxy.github.io/oauth2-proxy/configuration/providers/keycloak_oidc

services:

  uptime-kuma:
    image: louislam/uptime-kuma:1.23.16
    container_name: uptime-kuma
    volumes:
      - ${UPTIME_KUMA_PATH}:/app/data
    networks:
      - traefik
    labels:
      traefik.enable: true
      traefik.http.routers.uptime-kuma.entrypoints: https
      traefik.http.routers.uptime-kuma.tls: true
      traefik.http.routers.uptime-kuma.tls.certresolver: http_resolver
      traefik.http.routers.uptime-kuma.rule: Host(`${UPTIME_KUMA_HOST}`)
      
      traefik.http.routers.uptime-kuma.service: uptime-kuma
      traefik.http.services.uptime-kuma.loadbalancer.server.port: 3001

      traefik.http.routers.uptime-kuma.middlewares: oauth-signin, oauth-verify, redirect-statuspage

      traefik.http.middlewares.redirect-statuspage.redirectregex.regex: ^https?://${UPTIME_KUMA_HOST}/?$$
      traefik.http.middlewares.redirect-statuspage.redirectregex.replacement: https://${UPTIME_KUMA_HOST}/status/general
      traefik.http.middlewares.redirect-statuspage.redirectregex.permanent: true
      
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  traefik:
    image: traefik:2.11.24
    container_name: traefik
    restart: always
    networks:
      - traefik
    ports:
      - 80:80
      - 443:443
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ${TRAEFIK_PATH}/traefik.yml:/traefik.yml:ro
      - ${TRAEFIK_PATH}/acme.json:/acme.json
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # https://oauth2-proxy.github.io/oauth2-proxy/configuration/providers/keycloak_oidc
  oauth:
    container_name: oauth
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.9.0
    restart: unless-stopped
    environment:
      - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
      - OAUTH2_PROXY_PROVIDER_DISPLAY_NAME=${OAUTH2_PROVIDER_DISPLAY_NAME}
      - OAUTH2_PROXY_SCOPE=openid profile email
      - OAUTH2_PROXY_REVERSE_PROXY=true

      # keycloak oidc
      - OAUTH2_PROXY_PROVIDER=keycloak-oidc
      - OAUTH2_PROXY_CLIENT_ID=${OAUTH2_PROXY_CLIENT_ID}
      - OAUTH2_PROXY_CLIENT_SECRET=${OAUTH2_PROXY_CLIENT_SECRET}
      - OAUTH2_PROXY_REDIRECT_URL=https://${UPTIME_KUMA_HOST}/oauth2/callback
      - OAUTH2_PROXY_OIDC_ISSUER_URL=${OAUTH_PROVIDER_URL}
      - OAUTH2_PROXY_EMAIL_DOMAINS=*
      - OAUTH2_PROXY_ALLOWED_GROUPS=${OAUTH2_PROXY_ALLOWED_GROUP}

      # cookie settings
      - OAUTH2_PROXY_COOKIE_NAME=${OAUTH2_PROXY_COOKIE_NAME}
      - OAUTH2_PROXY_COOKIE_SECURE=true
      - OAUTH2_PROXY_COOKIE_SECRET=${OAUTH2_PROXY_COOKIE_SECRET}

      # === Session Store (Redis) ===
      - OAUTH2_PROXY_SESSION_STORE_TYPE=redis
      - OAUTH2_PROXY_REDIS_CONNECTION_URL=redis://redis:6379

      # Template for Authentication with automatic redirect to SSO
      - OAUTH2_PROXY_CUSTOM_TEMPLATES_DIR=/mnt/templates
      - OAUTH2_PROXY_FOOTER=${OAUTH2_PROXY_FOOTER}
    
    volumes:
      - ${OAUTH2_TEMPLATES_PATH}:/mnt/templates:ro


    depends_on:
      - redis

    labels:
      traefik.enable: 'true'
      # Middlewares for OAuth2 Proxy
      traefik.http.middlewares.oauth-verify.forwardAuth.address: http://oauth:4180/oauth2/auth
      traefik.http.middlewares.oauth-verify.forwardAuth.trustForwardHeader: 'true'
      traefik.http.middlewares.oauth-verify.forwardAuth.authResponseHeaders: X-Auth-Request-User,X-Auth-Request-Email,Authorization,Set-Cookie

      traefik.http.middlewares.oauth-signin.errors.service: oauth@docker
      traefik.http.middlewares.oauth-signin.errors.status: '401'
      traefik.http.middlewares.oauth-signin.errors.query: /oauth2/sign_in

      traefik.http.routers.oauth.entrypoints: https
      traefik.http.routers.oauth.tls.certResolver: http_resolver
      traefik.http.routers.oauth.rule: Host(`${UPTIME_KUMA_HOST}`) && PathPrefix(`/oauth2`)
      traefik.http.routers.oauth.service: oauth@docker
      traefik.http.services.oauth.loadbalancer.server.port: '4180'

    networks:
      - traefik

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:6
    restart: unless-stopped

    networks:
      - traefik


networks:
  traefik:
    driver: bridge
    name: traefik

