
- name: Install Status Monitoring
  hosts: localhost
  become: yes

  pre_tasks:
  - name: Loading environment variables
    tags: always
    set_fact:

      UPTIME_KUMA_PATH: '{{ lookup("env", "UPTIME_KUMA_PATH") }}'
      TRAEFIK_PATH: '{{ lookup("env", "TRAEFIK_PATH") }}'
      TRAEFIK_ACME_EAB_KID: '{{ lookup("env", "TRAEFIK_ACME_EAB_KID") }}'
      TRAEFIK_ACME_EAB_HMACENCODED: '{{ lookup("env", "TRAEFIK_ACME_EAB_HMACENCODED") }}'
      TRAEFIK_ACME_EMAIL: '{{ lookup("env", "TRAEFIK_ACME_EMAIL") }}'
      TRAEFIK_ACME_HTTP_CASERVER: '{{ lookup("env", "TRAEFIK_ACME_HTTP_CASERVER") }}'
      OAUTH2_TEMPLATES_PATH: '{{ lookup("env", "OAUTH2_TEMPLATES_PATH") }}'
    
  tasks:

    - name: Create directory for Uptime Kuma
      file:
        path: "{{ UPTIME_KUMA_PATH }}"
        state: directory
        mode: '0755'

    - name: Create directory for Traefik
      file:
        path: "{{ TRAEFIK_PATH }}"
        state: directory
        mode: '0755'

    - name: Add acme.json for Traefik
      file:
        path: "{{ TRAEFIK_PATH }}/acme.json"
        state: touch
        mode: '0600'

    - name: Build traefik.yml from template
      template:
        src: traefik.yml
        dest: "{{ TRAEFIK_PATH }}/traefik.yml"

    - name: Create directory for OAUTH_2
      file:
        path: "{{ OAUTH2_TEMPLATES_PATH }}"
        state: directory
        mode: '0755'
    
    - name: Copy OAUTH2 templates
      copy:
        src: oauth2_templates/
        dest: "{{ OAUTH2_TEMPLATES_PATH }}"
        mode: '0644'
  
    
    - name: Deploy Docker Compose
      # https://docs.ansible.com/ansible/latest/collections/community/docker/docker_compose_v2_module.html#ansible-collections-community-docker-docker-compose-v2-module
      community.docker.docker_compose_v2:
        env_files: ./../.env
        project_src: .
        state: present 
        pull: always
        recreate: always
